.container {
    display: grid;
    width: 100%;
    min-height: 450px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: 20% 1fr 20%;
    font-weight: bold;
    text-align: center;
}

.header {
    grid-area: header;
    background-color: lightgrey;
    padding-top: 30px;
}
.section {
    display: grid;
    grid-area: section;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "text"
    "more"
    "morebig";
    align-items: center;
    padding: 20px;
}
.main {
    grid-area: main;
    background-color: lightyellow;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "section aside" 
}
.aside {
    grid-area: aside;
    background-color: lightgreen;
}

.more {
    grid-area: more;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 1rem;
}
.more_more1 {
    background-color:rgb(231, 206, 80);
    min-height: 40px;
}
.morebig{
    grid-area: morebig;
    background-color:rgb(231, 206, 80);
    min-height: 40px;
} 
.footer {
    grid-area: footer;
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-content: space-around;
}
.section1 {
    background-color:white;
    text-align: center;
    padding: 20px;
}
.text {
    grid-area: text;
}
@media (max-width: 1200px){
    .container {
        max-width: 970px;
    }
}
@media (max-width: 992px){
    .container {
        max-width: 750px;
    }
}
@media (max-width: 767px){
    .container {
        max-width: none;
        grid-template-rows: 8% 1fr 40%;
    }
    .main{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "section"
        "aside"         
    }
    .section {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "text"
        "more"
        "more"
        "morebig"; 
    }
    .more {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "more1"
        "more1";
    }
    .more_more1 {
        grid-area: more1;
    }
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "section1"
        "section1"
        "section1"
        "section1";
        gap: 1em;
    }
    .section1 {
        padding: none;
    }
}